.about{
  background: url('../../Images/bg6.webp');
  height: 60vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 190px 0px 8px 0px;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.about::before{
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(105, 104, 104, 0.7);
  
}
.header{
  position: absolute;
  color: white;
  top: 35%;
  left: 35%;
  font-family: sofia-pro,sans-serif;
}
.header h1{
  font-size: 2.5rem;
}
.text{
  font-size: 2.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
}
.icon{
  color: #FFC632;
/* font-size: 3rem; */
cursor: pointer;
box-shadow: 0px 24px 80px -24px rgba(0, 0, 0, 0.24);
    transition: background 0.3s, border 0.3s,;
    
  }
  .icon:hover{
  transform: scale(1.05);   
  color: #f0c14c;

}
.head{
  color: #34373b;
    font: bold 20px "Barlow", sans-serif;
    margin-bottom: 17px;
}
.infor{
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  color: rgb(184, 183, 183);
}
@media screen and (min-width : 350px) and (max-width:600px){
  .header{
    left: 30%;
    text-align: center;
  }
  .header h1{
    font-size: 1.5rem;
  }
}
@media screen and (min-width : 601px) and (max-width:1030px){
  .header{
    left: 40%;
    text-align: center;
  }
  .header h1{
    font-size: 3rem;
  }
}