.why{
  background-color: whitesmoke;
  height: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 1.4rem;
}
.details{
  width: 90%;
  margin: auto;
}
.header{
  font-size: 2rem;
  font-weight: 700;
  position: relative;
}

.header::before{
  content: "";
  background: #fecc18;
  height: 2px;
  width: 46px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -19px;
}
.header::after{
  content: "";
    background: #fecc18;
    height: 2px;
    width: 22px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -26px;
}
.header span{
  color: #FFC632;

}
.box{
  height: 300px;
  width: 95%;
  background-color: white;
  padding: 1.5rem 0 0 2rem;
  border-radius: 10px;
  border-top: 5px  solid #FFC632;
  border-bottom:5px  solid #FFC632 ;
  box-shadow: 0px 24px 80px -24px rgba(0, 0, 0, 0.24);
    transition: background 0.3s, border 0.3s,;
    cursor: pointer;
margin: 10px;    
}
.box:hover{
  box-shadow: 0px 0px 15px #fafaff;
  transform: scale(1.05); 
}
.icon{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  rotate: 90deg;
}
.icon:hover{
  margin-right: 1px;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 15px #fafaff;
    transform: scale(1.05); 
}
.icon1{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon1:hover{
  margin-right: 1px;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 15px #fafaff;
    transform: scale(1.05); 
}