.vehicles{
  background: url('../../Images/gmc.webp');
  height: 40vh;
  width: 101%;
  background-size: cover;
  background-position: center;
  padding: 190px 0px 8px 0px;
  margin: -8px;
  position: relative;
}
.vehicles::before{
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(105, 104, 104, 0.7);
  
}
.header{
  position: absolute;
  color: white;
  top: 35%;
  left: 27%;
  font-family: sofia-pro,sans-serif;
}
.header h1{
  font-size: 2.5rem;
}
.header span{
  color:#FFC632;
}

@media screen and (min-width : 350px) and (max-width:600px){
  .header{
    left: 7%;
    text-align: center;
  }
  .header h1{
    font-size: 1.5rem;
  }
}
@media screen and (min-width : 601px) and (max-width:1030px){
  .header{
    left: 12%;
    text-align: center;
  }
  .header h1{
    font-size: 2.5rem;
  }
}