.type{
 width: 90%;
 margin: auto;
 height: auto;
 padding-bottom: 1rem;
}

.tab{
  padding: 0 0 0 15rem;
}
.tabhead{
  margin: 3px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1rem;
  width: 10rem;
}
.tabhead:first-child:active {
  background-color: #071E57;
}
.tabhead:hover{
  background-color: #071E57;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 15px #fafaff;
  transform: scale(1.05); 
}
.header{
  font-size: 2rem;
  font-weight: 800;
  padding: 0 0 0 .7rem;
}
.ul{
  margin: 0;
  padding: 0;
}
.ul li{
  font-weight: 100;
  padding-top: .8rem;
  width: 90%;
  margin: auto;
}
.ul span{
  color: #FFC632;
}
.img{
  cursor: pointer;
  transition: background 0.3s, border 0.3s,;
width: 95%;
height: 450px;
margin-top: 1rem;
}
.img:hover{
  box-shadow: 0px 0px 15px #f0f0f1;
  transform: scale(1.05);   
}
.box{
  width: 100%;
}
@media screen and (min-width:601px ) and (max-width:997px){
  .tab{
padding: 0 0 0 1%;
  }
}
@media screen and (min-width:471px ) and (max-width:600px){
  .tab{
padding: 0 0% 0 5%;
  }
}
@media screen and (min-width:300px ) and (max-width:470px){
  .tab{
padding: 0 2% 0 0%;
  }
  .tabhead{
    width: 8rem;
  }
  .img{
      width: 100%;
      
  }
  .type{
    width: 100%;
  }
  .ul li{
    width: 80%;
    margin: auto;
  }
}
